body {
  background-color: #f5e6ca; /* Bege claro */
  color: #4b2e2e; /* Marrom escuro */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #8b5a2b; /* Marrom médio */
  color: white;
}

button {
  background-color: #d2a679; /* Marrom claro */
  color: white;
}

button:hover {
  background-color: #a67c52; /* Marrom mais escuro */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-card img {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: 150px;
  object-fit: cover; /* Mantém a proporção da imagem sem distorcer */
  border-radius: 10px; /* Deixa as bordas arredondadas */
}


